/* register */
.container-add {
    display: flex;
    width: 1023px;
    height: 766px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.avatar-section-add {
    flex: 0.5;
    padding-right: 20px;
}
.avatar-image{
    width: 300px;
    height: 300px;
}
.avatar-content-add {
    display: flex;
    align-items: center;
}
.avatar-add{
    margin: 13px;
    text-align: center;
}

.form-section-add {
    flex: 2.5;
}

.input-group-add {
    margin-bottom: 20px;
}
.firstname-add{
    margin-right: 40px;
}
.text{
     width: 278px;
    margin: -2px 0 -76px 39px;
    border-radius: 10px;
    border: 1px solid #b1b0b0;
}
#firstname,#lasttname,#nameaccount,#address,#phone,#email,#password,#iddr,.form-select{
    width: 282px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b1b0b0;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}
form {
    width: 100%; 
    margin: 0;
    padding: 0; 
    border: none; 
}
.overall{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input-group-add-2{
        display: flex;
        align-items: center; 
        gap: 46px;
      
}

/* login */